<section class="contenido_inicial">

    <article class="introduccion">
        <h1> Artesanos de la Cocina</h1>
        <p class="parrafo1">
            Mulato´s Bistro es un restaurante caracterizado por su cocina artesanal, identificandose mas al estilo
            texano y mexicano logrando asi realzar los sabores de ambos para lograr un intenso y delicioso sabor en
            sus platillos. <br>
            Nuestro lema es Artesanos de la Cocina y traemos la mejor comida Artesanal para tí.
        </p>

    </article>

    <article class="slider">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/Hamburguesa.jpg" class="d-block w-100 fotoSlider" alt="hamburguesa1"
                        height="400px" width="100px">
                </div>
                <div class="carousel-item">
                    <img src="../assets/papasmulatos.JPG" class="d-block w-100 fotoSlider" alt="choripan" height="400px"
                        width="100px">
                </div>
                <div class="carousel-item">
                    <img src="../assets/americana.JPG" class="d-block w-100 fotoSlider" alt="chivito" height="400px"
                        width="100px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </article>
</section>

<!-- Contenido Quienes Somos -->
<section class="contenido2">

    
        <div class="tituloQuienesSomos">

            <h2 class="tituloqs">¿Quienes Somos?</h2>
        </div>
        <section class="quienesSomos">
        <div class="fotogrupo">
           <img src="../assets/cajasmulatos.jpg" alt="EquipoMulatos" width="500px" height="450px">

        </div>
        
        
        <p class="parrafoqs">Somos un grupo de Jovenes emprendedores con la visión de dar a conocer nuestras creaciones
            culinarias, combinando nuestras diferentes tradiciones y conocimientos en la cocina para dar la mayor
            experiencia a nuestros comensales.
        </p>
    </section>
    

    <section class="carnes">
        <div class="parrafocarnes">
            <p>Como bien dice nuestro lema "Artesanos de la Cocina", nuestras carnes son 100% artesanales, sazonadas con
                una receta secreta que brinda un mayor sabor y una característica única al paladar.</p>
        </div>
        <div class="fotocarne">
            <img class="carne" src="../assets/hamburguesasenfila.jpg" alt="fotocarne" width="400px" height="450px">
        </div>

    </section>

    <section class="Variedad">
        <div class="fotohamb">

            <img class="fotogrupo" src="../assets/limonadaparallevar.jpg" alt="EquipoMulatos" width="400px"
                height="500px">
        </div>
        <p class="parrafohamb">Tambien contamos con variedades en bebidas para que tengas una experiencia Mulato´s
            Completa, Ven y vive nuestra experiencia, se parte de la familia MULATO´S BISTRO.</p>

    </section>

</section>

<!-- FOOTER -->

<!-- REDES SOCIALES Y UBICACIÓN -->

<footer>

    <div class="redesyubic">

        <section class="redessociales">


            <h2 class="titulosiguenos"> ¡Síguenos!</h2>

            <!-- Whatsapp -->

            <div class="redsocial">

                <div class="iconored">
                    <a href="https://api.whatsapp.com/send?phone=573209056457&text=Hola!%F0%9F%91%8B%20quisiera%20hacer%20un%20pedido...%20mi%20nombre%20es%20"
                        target="_blank"> <img src="../assets/whatsapp.png" alt="iconowha" width="30px" height="30px">
                    </a>
                </div>

                <div class="predsocial">

                    <p>3209056457</p>

                </div>

            </div>

            <!-- Facebook -->

            <div class="redsocial">

                <div class="iconored">
                    <a href="https://www.facebook.com/" target="_blank"> <img src="../assets/facebook.png" alt="iconofb"
                            width="30px" height="30px">
                    </a>
                </div>

                <div class="predsocial">

                    <p>Mulato's Bistro</p>

                </div>

            </div>

            <!-- Instagram -->

            <div class="redsocial">

                <div class="iconored">
                    <a href="https://www.instagram.com/mulatos_bistro/" target="_blank"> <img
                            src="../assets/instagram.png" alt="iconoig" width="30px" height="30px">
                    </a>
                </div>

                <div class="predsocial">

                    <p>@Mulatos_Bistro</p>

                </div>
            </div>


        </section>

        <section class="ubicacion">

            <iframe class="ubicacion2"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8459117294947!2d-74.14594438618495!3d4.62156559664268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f3832544f17%3A0x6d91f3060ccfceef!2sMulato&#39;s%20bistro!5e0!3m2!1ses!2sco!4v1616531766197!5m2!1ses!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </section>
    </div>

    <div class="contactanos" id="contacto">

        <h2 class="titulocontacto">Contáctanos</h2>

        <form class="form" action="">

            <input type="text" [(ngModel)]="modeloUsuario.nombre" id="nombre" name="nombre" placeholder="Nombre" required class="input">
            <input type="text" [(ngModel)]="modeloUsuario.apellido" id="apellido" name="apellido" placeholder="Apellido" required class="input">
            <input type="email" [(ngModel)]="modeloUsuario.email" id="email" name="Email" placeholder="Email" required class="input">
            <textarea name="mensaje" [(ngModel)]="modeloUsuario.mensaje" id="textarea" placeholder="Escribe aquí tu mensaje" class="input"> </textarea>
            <label for="textarea"></label>
            <input type="submit" (click)="crear()" id="boton" value="Enviar" class="enviar">

        </form>




    </div>




    

    <div class="copy">
        <p>Elaborado por María Katiuzka Aponte y Neil Serrano</p>
    </div>

</footer>