<header class="encabezado">

    <div class="logo_encabezado">
        <a href="index.html"><img class="logo" src="../assets/logomulatos.png.png" alt="logo principal de Mulatos Bistro"
                height="220px" width="250px"> </a>

    </div>

    <div class="botones">

        <a routerLink='/reserva'> <button > Reserva tu mesa </button></a>

        <a routerLink='/admin' > <button class="admin" > Admin </button></a>
       

    </div>



</header>

<header class="barra_navegador">

    <input type="checkbox" id="boton_menu">
    <label class="icono_menu" for="boton_menu">

        <img src="../assets/iconomenu.png" alt="menu hamburguesa" width="35px" height="35px">

    </label>

    <nav class="menu">
        <ul>
            <li><a routerLink="/inicio"> Inicio </a> </li>
            <li><a routerLink="/nuestrosPlatos"> Nuestros Platos </a> </li>
            <li><a href="https://drive.google.com/uc?id=1xKHxDvECYP6By5Bo_XCC-7wJ7ViTsHpk&export=download"> Menú
                </a> </li>
            
        </ul>
    </nav>

</header>

